/* color rosa 1*/
.gb-color-rosa-1{
	background-color: #ff66a3;
}

/*color naranja 1*/
.gb-color-naranja-1{
	background-color: #ff6666;
}

/*color azul 1*/
.gb-color-azul-1{
	background-color: #00b8e6;
}

/*color verde 1*/
.gb-color-verde-1{
	background-color: #00cc99;
}

/*color morado*/
.gb-color-morado-1{
	background-color: #bf80ff;
}

/*color negro*/
.gb-color-negro-1{
	background-color: #1d262d;
}