/* Container for flexboxes */
.row {
  clear: both;
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
 /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.column.cardside {
  padding-bottom: 10px;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

.column.gb-left_t {
   -webkit-flex: 5;
   -ms-flex: 5;
   flex: 5;
}

.column.gb-right_t {
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;
}

/* Container for flexboxes */
.row2 {
  clear: both;
  display: -webkit-flex;
  display: flex;
}

/* v2 */
/* Float four columns side by side */
.gb-column_3 {
  float: left;
   width: 33.33%;
  padding: 10px;
}

/* Remove extra left and right margins, due to padding */
.gb-row {margin: 0px;}

/* Clear floats after the columns */
.gb-row:after {
  content: "";
  display: table;
  clear: both;
}


.gb-column_3_small {
  float: left;
   width: 33.33%;
  padding: 10px;
}

/*Se utiliza en la de proyectos */
.gb-column_2_small {
  float: left;
   width: 50%;
  padding: 10px;
}

/* Responsive columns */

@media screen and (max-width: 1200px) {
  .gb-column_2_small {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .gb-column_3_small {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .gb-column_3 {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 900px) {
  .row2 {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

/* Responsive columns */
@media screen and (max-width: 800px) {
  .gb-column_3_small {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive columns */
@media screen and (max-width: 800px) {
  .gb-column_3 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }




